<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(functiom  n() {
            countries()
        })

        const test = () => {
            var uname = $("#uname").val()

            $.get("test",{ uname }, function (rt){
                $("#tdata").html(rt)
            })
        }

        const search = (q) => {
            $.get("search",{ q }, function (rt){
                $("#qdata").html(rt)
            })
        }

        const countries = () => {

            var options = "<option value='0'>---Select country---<option>"
            $.get("countries", {}, function (rt) {
                rt.data.map(ele => {
                    options += `<option value=${ele.id}>${ele.name}</option>`
                })
                $("#country").html(options)
            })
        }

        const states = (cid) => {
            var options = "<option value='0'>---Select states---<option>"
            $.get("states", { cid }, function (rt) {
                rt.data.map(ele => {
                    options += `<option value=${ele.id}>${ele.name}</option>`
                })
                $("#state").html(options)
            })
        }
        const cities = (sid) => {
            var options = "<option value='0'>---Select city---</option>"

            $.get("cities", { sid }, function (rt) {
                rt.data.map(ele => {
                    options += `<option value="${ele.id}">${ele.name}</option>`
                })
                $("#city").html(options)
            })
        }
    </script>
</head>
<body>



    <input type="text" id="uname">
    <button onclick="test()">Submit</button>
    <div id="tdata"></div>

    <br><hr><br>

    <input type="text" id="search" onkeyup="search(value)">
    <div id="qdata"></div>

    <br><hr><br>

    <select id="country" onchange="states(value)"></select>

    <select id="state" onchange="cities(value)">
        <option value="0">---Select state---</option>
    </select>

    <select id="city">
        <option value="0">---Select city---</option>
    </select>


</body>
</html>