<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
    
})

const test = () => {
    var uname = $("#uname").val()

    $.get("test", { uname }, function(rt) {
        alert(rt)
    })
}
</script>
<body>
    <label for="name ">Name</label>
    <input type="text" name="uname" id="uname">
    <button onclick="test()">Submit</button>
</body>
</html>