{% extends "base.html" %}
{% load static %}
{% block title %}Student{% endblock title %}

{% block body %}
<div class="container">
{% comment %} <p class="msg">{{meg}}</p> {% endcomment %}
{{meg}}
        <form action="" method="POST">
            {%csrf_token%}
        <h1>Student Detail</h1>

        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Enter the Student name">

        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Enter the Student email">

        <label for="age">Age:</label>
        <input type="text" name="age" placeholder="Enter the Student age">

        <label for="std">Standard:</label>
        <input type="text" name="std" placeholder="Enter the Student Standard">

        <input type="submit">

    </form>
</div>
{% endblock body %}